<%- include('partials/header') %>

<div class="jumbotron text-center col-lg-6  col-sm-12">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <br>

    <% secrets.forEach(function(user){ %>
        <% user.secret.forEach(function(secret){ %>
          <p class="secret-text"><%= secret %></p>
      <%  }); %>
      <% }); %>

<%- include('partials/message') %>

  </div>
</div>

<%- include('partials/footer') %>
